@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Mongo Transaction | @ViewBag.Title</title>
    <link href="~/Content/CSS/reset.css" rel="stylesheet" />
    <link href="~/Content/CSS/glyphicons.css" rel="stylesheet" />
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <a href="~/" class="app-title float-left">MongoDB Transaction Scope</a>
        <nav class="main-nav">
            <ul class="float-right">
                <li><a href="~/">Users</a></li>
                <li><a href="@Url.Action("Register", "Account")">Registration</a></li>
                <li><a href="#">Manual Operation</a></li>
                <li><a href="#">Delete User</a></li>
            </ul>
        </nav>
    </header>
    <section>
        @RenderBody()
    </section>
    <footer></footer>
</body>
</html>
