@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Mongo Transaction | Home</title>
    <link href="~/Content/CSS/reset.css" rel="stylesheet" />
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h2 class="app-title float-left">Mongo Transaction</h2>
        <ul class="float-left">
            <li>Main</li>
            <li>Add User</li>
            <li>Transaction</li>
        </ul>
    </header>
    <section>
        @RenderBody()
    </section>
    <footer></footer>
</body>
</html>
