@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>Mongo Transaction | Home</title>
    <link href="~/Content/CSS/reset.css" rel="stylesheet" />
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h2 class="app-title float-left">MongoDB Transaction Scope</h2>
        <nav class="main-nav">
            <ul class="float-right">
                <li>Main</li>
                <li>Registration</li>
                <li>Update User</li>
                <li>Delete User</li>
            </ul>
        </nav>
    </header>
    <section>
        @RenderBody()
    </section>
    <footer></footer>
</body>
</html>
